<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated proyectoDeportista -->
      <package
            uri="http://www.example.org/proyectoDeportista"
            class="proyectoDeportista.ProyectoDeportistaPackage"
            genModel="model/proyectoDeportista.genmodel"/>
   </extension>

</plugin>
